@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 506px;
    display: flex;
    background: url(../img/headerbg.svg) center / cover no-repeat;
    flex-direction: column;
    gap: 24px;   
}
header h1 {
    width: 278px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Luckiest Guy', sans-serif;
    color: #FFF;
    margin-top: 70px;
    margin-left: 24px;
    position: relative;
    z-index: 1;
}
header p {  
    width: 381px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 24px;
    position: relative;
    z-index: 2;  
}
footer {
    width: 100%;
    height: 140px;
    background: #23272A;
    display: flex;
}
footer img {
    margin: auto;
}
.btn-contente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    position: relative;
    z-index: 3;
}
.btn-windows {
    width: 381px;
    height: 54px;
    flex-basis: auto;
    border-radius: 28px;
    background: #FFF;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color:#23272A;   
    border: none;
}
.btn-navigator {
    width: 381px;
    height: 52px;
    border-radius: 28px;
    background: #23272A;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color:#FFF; 
    border: none;
}
.section {
    width: 379px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: center;
    margin-top: 40px;
}
.section h2 {
    font-size: 24px;
    font-weight: 800;
    color: #23272A;
    font-family: 'Open Sans', sans-serif;
}
.section p {
    font-size: 16px;
    font-weight: 400;
    color: #23272A;
    font-family: 'Open Sans', sans-serif;

}
.main-04 h2{
    text-transform: uppercase;
    font-family: 'Luckiest Guy', sans-serif;
    color: #23272A; 
}
.main-04 {
    margin-bottom: 40px;
}

/* Media query para telas maiores que 768px */

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center; 
        background: url(../img/headerbgd.svg) center / cover no-repeat;  
    }
    header h1 {
        text-align: center;
    }
    header p {
        width: 500px;
        text-align: center; 
    }
    .btn-contente {
        display: flex;
        flex-direction: row;
    }
    .btn-windows {
        width: 250px;
        height: 39px;
        font-size: 12px;
    }
    .btn-navigator {
        width: 255px;
        height: 39px;
        font-size: 12px;
    }
}/* Media query para telas maiores que 1200px */

@media (min-width: 1200px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center; 
        background: url(../img/headerbgd.svg) center / cover no-repeat;  
    }
    header h1 {
        width: 313px;
        text-align: center;
        font-size: 56px;
    }
    header p {
        width: 757px;
        height: auto;
        text-align: center; 
    }
    .btn-contente {
        display: flex;
        flex-direction: row;
    }
    .btn-windows {
        width: 205px;
        height: 44px;
        font-size: 12px;
    }
    .btn-navigator {
        width: 281px;
        height: 44px;
        font-size: 12px;
    }
    .section {
        width: 379px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        margin-top: 40px;
    }
    .section img {
        width: 607px;
        height: 394px;
        
    }
    .section-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .section-text h2 {
        width: 329px;
        font-size: 40px;
        font-weight: 800;
        margin-top: 10px;
        color: #23272A;   
    }
    .section-text p {
        width: 348px;
        font-size: 16px;
        font-weight: 400;
        color: #23272A;   
    }
    .main-04 {
        flex-direction: column;          
    }
    .main-04 h2 {
        width: 608px;
        text-align: center;
        position: relative;
        right: 100px;    
    }
    .main-04 p {
        width: 802px;
        text-align: center;   
        position: relative;
        right: 100px;
    }
    .main-04 img {
        position: relative;
        right: 100px;
    }
 
}