@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

:root {
    /* RESPONSIVE */
    /* COLORS */ 
    --color-primary: #23272A;
    --color-secudary: #FFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: scroll;
}
/*  Style Header  */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url(../img/headerbg.svg) center / cover no-repeat;
}
.header-container {
    display: flex;
    width: 328px;
    flex-direction: column;
    justify-content: center;
    padding: 70px 10px;
    gap: 24px;   
}
header h1{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-secudary);
    width: 178px;
}
header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-secudary);
    width: 311px;  
}
.btn-contente {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn-windows {
    background: var(--color-secudary);
    border: none;
    font-family: 'Open Sans' sans-serif;
    font-size: 0.9rem;
    font-weight: 400; 
    color: var(--color-primary);
    width: 300px;
    height: 34px;
    border-radius: 28px;
}
.btn-navigator {
    background: var(--color-primary);
    border: none;
    font-family: 'Open Sans' sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-secudary);
    width: 300px;
    height: 34px;
    border-radius: 28px;
}
/*  Style Main  */
main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    justify-content: center;
    gap: 27px;
}
.section img {
    width: 100%;
    display: flex;
    margin: auto;
}
.section-text-h2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--color-primary);
    width: 329px; 
}
.section-text-p p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-primary);
    width: 329px;    
}
.text-h2 h2 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primary);
    width: 329px;   
}
.main-01, .main-03 {
    margin: auto;
}
.main-04 {
    display: flex;
    flex-direction: column-reverse; 
    background: #F6F6F6;
}
.main-04 img {
    width: 329px;
    
}
.content-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#section-bg-04, #section-bg-02 {
    width: 100%;
    background: #F6F6F6;  
}
#section-bg-01, #section-bg-03 {
    width: 100%;
}

/*  Style Footer  */

footer {
    background: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 133px 51px;
}
footer img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;   
}

/*  Media query  Small  640px  */

@media (min-width: 640px){

    header {
        background: url(../img/headerbgd.svg) center / cover no-repeat; 
    }
    header h1 {
        margin: auto;
        text-align: center;
        font-size: 2.5rem;
        width: 210px;  
    }
    .section {
        width: 500px;
        margin: auto;
    }
    .section img {
        width: 100%;
    }
    .content-section {
        margin: auto;
        text-align: center;
    }
   }

/*  Media query  Medium 840px  */

@media (min-width: 840px){ 

    header {
        width: 100%;
        height: auto;
        background: url(../img/headerbgd.svg) center / cover no-repeat;
    }
    .header-container {
         width: 800px; 
     }
    header p {
        width: 757px;
        text-align: center;  
    }
    .btn-contente {
       flex-direction: row;
       justify-content: center;
    }
    .btn-windows {
        width: 205px;
        height: 44px;   
    }
    .btn-navigator {
        width: 281px;
        height: 44px;
    }
    .section {
        width: 820px;
        flex-direction: row; 
    }
    .main-02, .main-04 {
        flex-direction: row-reverse;
    }
    .main-02, .main-03{
        align-items: center;
    }
    .section img {
        width: 507px;
        height: 300px;  
    }
    .section-text-h2 h2 {
        width: 325px;
        
    }
    .section-text-p p {
        width: 315px;   
    }
    footer img {
        width: 230px;
        height: 63px;
    }
}

/*  Media query Large 1200px  */

@media (min-width: 1200px) {

    .section {
        width: 1100px;
        flex-direction: row; 
    }
    .main-02 {
        flex-direction: row-reverse;
    }
    .section img {
        width: 607px;
        height: 394px;  
    }
    .section-text-h2 h2 {
        width: 329px;
        font-size: 2.5rem; 
    }
    .section-text-p p {
        width: 348px;
    }
    .main-04 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-04 img {
        width: 784px;
        height: 508px;
        
    }
    .main-04 .text-h2 h2 {
        width: 608px;
        margin: auto;
        align-items: center;
        text-align: center;        
    }
    .text-p p {
        width: 802px;
        text-align: center;  
    }
    footer img {
        width: 230px;
        height: 63px;
    }
    
}




